body {
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px 0;
	line-height: 1.45em;
}

h1 {
	margin: 0 0 20px;
}

.mobile-trigger {
	display: none;

	@media #{$mobile} {
		line-height: 30px;
		padding: 10px 0;
		font-size: 24px;
		color: #fff;
		background-color: $primary;
		display: block;
		text-align: center;

		&:focus,
		&:active,
		&:hover {
			color: #fff;
		}
	}
}

.mobile {
	display: none;
	background-color: darken($primary, 2%);

	@media #{$mobile} {
		display: block;

		ul {
			list-style: none;
			padding: 0;

			a {
				padding: 15px;
				display: block;
				color: #fff;
			}
		}
	}	
}

img {
	max-width: 100%;
	height: auto;
}